<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:three="http://zxl.cn/schema"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	 http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	 http://www.springframework.org/schema/jee
	 http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
	 http://www.springframework.org/schema/aop
	 http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-4.0.xsd
	 http://zxl.cn/schema
     http://zxl.cn/schema/core-1.0.xsd">
 	
	<bean class="cn.zxl.mapper.spring.MapperFactoryBean" id="devModeAndPathMapper">
		<property name="mapperMode" value="dev"></property>
		<property name="mapperPath" value="mapper"></property>
	</bean>		
	
	<bean class="cn.zxl.mapper.spring.MapperFactoryBean" id="devGlobalPathMapper">
		<property name="globalPath" value="global-dev.xml"></property>
	</bean>		
	
	<bean class="cn.zxl.mapper.spring.MapperFactoryBean" id="proModeAndPathMapper">
		<property name="mapperMode" value="pro"></property>
		<property name="mapperPath" value="mapper"></property>
	</bean>		
	
	<bean class="cn.zxl.mapper.spring.MapperFactoryBean" id="proGlobalPathMapper">
		<property name="globalPath" value="global-pro.xml"></property>
	</bean>		
	
	<bean class="cn.zxl.mapper.spring.MapperFactoryBean" id="commonMapper">
	</bean>		
</beans>